/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/

html {
width:auto;
height:100%;
}
body {
margin:0;
padding:0;
height:100%;
overflow:hidden;
font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#000000;
    background-color:transparent;
}


a, a:visited {
	outline:none;
	color:#43819b;
}

a:hover{
	text-decoration:none;
}



#container {
position:relative;
width:auto;
height:auto;
}

#bgcanvas {
position:absolute;
top:0px;
left:0px;
background-color:transparent;
z-index:5;
}

#respondcanvas {
position:absolute;
top:0px;
left:0px;
background-color:transparent;
z-index:6;
}

#cursors{
	position:relative;
}

#cursors .cursor {
	position:absolute;
	width:auto;
	height:22px;
	background:url('../img/pointer.png') no-repeat -4px 0;
	font-size:10px;
	z-index:20;
	}

.cursor .identif{
background-color:#FFFF00;
width:auto;
height:auto;
margin-top:15px;
}

#pencil {
}

#frecce {
float:right;
background-color:transparent;
height:200px;
}

#paper {
background-color: #ffffff;
}

#controlli  {
position:absolute;
top:6px;
left:10px;
width:460px;
height:410px;
background-color:#ffffff;
border:1px red solid;
z-index:81;
font-size:12px;
}


#testichat {
position:relative;
top:6px;
left:3px;
border:1px green solid;
width:420px;
height:210px;
font-size:11px;
overflow:auto;
}      



button  {
font-size:12px;
margin:0;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
	font-size:12px
}